<div class="container bg-elo">

    <div class="col-md-12 mt-5">
            <button class="btn btn-elo btn-primary w-100" (click)="novoLead()" type="submit"><i class="fa fa-plus"
                aria-hidden="true"></i> Novo Lead</button>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-4 mt-1">
            <h4 class="text-white text-center title1 mt-1">Cliente em Potencial</h4>
            <div cdkDropList class="leads-list" id="list-potenciais" [cdkDropListData]="potenciais" [cdkDropListConnectedTo]="['list-confimados']" (cdkDropListDropped)="drop($event)">
                <div class="lead-box" *ngFor="let item of potenciais" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <h4 class="text-white text-center title2">Dados Confirmados</h4>
            <div cdkDropList class="leads-list" id="list-confimados" [cdkDropListData]="confirmados" [cdkDropListConnectedTo]="['list-agendados']" (cdkDropListDropped)="drop($event)">
                <div class="lead-box" *ngFor="let item of confirmados" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-5">
            <h4 class="text-white text-center title3">Reunião Agendada</h4>
            <div cdkDropList class="leads-list" id="list-agendados" [cdkDropListData]="agendados" (cdkDropListDropped)="drop($event)">
                <div class="lead-box" *ngFor="let item of agendados" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>

</div>